In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
df = pd.read_csv("churn_prediction_simple.csv")
df.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,days_since_last_transaction,...,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
0,1,3135,66,0,0.0,0,187.0,2,755,224.0,...,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0
1,6,2531,42,0,2.0,0,1494.0,3,388,58.0,...,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1
2,7,263,42,1,0.0,0,1096.0,2,1666,60.0,...,16059.34,15211.29,13798.82,0.36,0.36,857.50,286.07,15719.44,15349.75,0
3,8,5922,72,0,0.0,1,1020.0,1,1,98.0,...,7714.19,7859.74,11232.37,0.64,0.64,1299.64,439.26,7076.06,7755.98,0
4,9,1145,46,0,0.0,0,623.0,2,317,172.0,...,8519.53,6511.82,16314.17,0.27,0.27,443.13,5688.44,8563.84,5317.04,0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22067 entries, 0 to 22066
Data columns (total 21 columns):
customer_id                       22067 non-null int64
vintage                           22067 non-null int64
age                               22067 non-null int64
gender                            22067 non-null int64
dependents                        22067 non-null float64
occupation                        22067 non-null int64
city                              22067 non-null float64
customer_nw_category              22067 non-null int64
branch_code                       22067 non-null int64
days_since_last_transaction       22067 non-null float64
current_balance                   22067 non-null float64
previous_month_end_balance        22067 non-null float64
average_monthly_balance_prevQ     22067 non-null float64
average_monthly_balance_prevQ2    22067 non-null float64
current_month_credit              22067 non-null float64
previous_month_credit             22067 non-null float64
current_month_debit               22067 non-null float64
previous_month_debit              22067 non-null float64
current_month_balance             22067 non-null float64
previous_month_balance            22067 non-null float64
churn                             22067 non-null int64
dtypes: float64(13), int64(8)
memory usage: 3.5 MB

In [25]:
# separate dependent and independent variables
X = df.drop(columns = ['churn','customer_id'])
Y = df['churn']

In [26]:
#scaling the dataset(not required as such because DT is not distance depend)
from sklearn.preprocessing import StandardScaler
scaler =StandardScaler()
scaled_X = scaler.fit_transform(X)

In [27]:
#splitting the dataset
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test = tts(scaled_X,Y,train_size =0.8,stratify =Y)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((17653, 19), (4414, 19), (17653,), (4414,))

## Model Building, predictions and odds ratio

In [28]:
from sklearn.tree import DecisionTreeClassifier as DTC
classifier = DTC(class_weight ='balanced')
classifier =DTC()

In [29]:
classifier.fit(x_train,y_train)
predicted_value = classifier.predict(x_train)
predicted_value

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

### Evaluation Metrics

In [30]:
#wrt train set
from sklearn.metrics import classification_report
k =classification_report(y_train,predicted_value)
print(k)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     14234
           1       1.00      1.00      1.00      3419

    accuracy                           1.00     17653
   macro avg       1.00      1.00      1.00     17653
weighted avg       1.00      1.00      1.00     17653

In [33]:
# wrt test set
predict_value = classifier.predict(x_test)
k =classification_report(y_test,predict_value)
print(k)

              precision    recall  f1-score   support

           0       0.86      0.85      0.86      3559
           1       0.42      0.44      0.43       855

    accuracy                           0.77      4414
   macro avg       0.64      0.65      0.65      4414
weighted avg       0.78      0.77      0.78      4414